* {
  margin: 0px;
  padding: 0px;
}

/* ======================================START LOGIN========================================================= */


.containerlogin {
  margin: auto;
  width: 30%;
  height: 26%;
  padding: 20px;
  margin-top: 70px;
  background-color: #6597A9;
  border-radius: 96px;
}

.containerlogin .logo {
  margin-left: 165px;
  margin-top: -40px;
  background-color: #86B4C5;
  border-radius: 50%;
  padding: 10px;
}

.containerlogin label {
  margin-bottom: 20px;
}

.containerlogin p {
  margin: 20px;
  font-size: 30px;
}

.form-login input[type="text"],
input[type="password"] {
  border: 1px solid darkslategray;
  border-radius: 5px;
  box-sizing: border-box;
  width: 90%;
  padding: 100px;
  font-size: 11pt;
  margin-bottom: 20px;
  margin-top: 10px;
}

.form-login input[type="text"]:hover,
input[type="password"]:hover {
  border: 1px solid gray;
}

.containerlogin button {
  width: 50%;
  height: 40px;
}

.form-login .tombol_login {
  background: #46de4b;
  padding: 10px 40px 10px 40px;
  border: 1px solid gray;
  margin: 10px;
  color: white;
}

.form-login .tombol_register {
  background: black;
  padding: 10px 25px 10px 25px;
  border: 1px solid gray;
  margin: 10px;
  color: white;
}

/* ======================================END LOGIN========================================================= */


/* ======================================START DASHBOARD==================================================== */
.navbar_dash {
  width: 100%;
  height: 80px;
  background-color: #6597A9;
  display: inline-flex;
  justify-content: start;
  align-items: center;

}

.navbar_dash img {
  margin-left: 20px;
}

.navbar_dash h2 {
  margin-left: 70px;
}

.create {
  position: absolute;
  top: 140px;
  left: 60px;
  width: 200px;
  height: 170px;
  background-color: #6597A9;
  transition: 1s ease all;
}

.create img {
  margin-top: 20px;
}

.create h3 {
  margin-top: 10px;
}

.about {
  position: absolute;
  top: 140px;
  left: 390px;
  width: 200px;
  height: 170px;
  background-color: #86B4C5;
  transition: 1s ease all;
}

.about img {
  margin-top: 20px;
}

.about h3 {
  margin-top: 10px;
}

#check:checked~.create {
  margin-left: 300px;
}

#check:checked~.about {
  margin-left: 300px;
}

.create a,
.about a {
  text-decoration: none;
  color: white;
}





/* ======================================END DASHBOARD==================================================== */

/* ======================================START CREATE==================================================== */


.navbar_create {
  width: 100%;
  height: 80px;
  background-color: #6597A9;
  display: inline-flex;
  justify-content: start;
  align-items: center;

}

h2 {
  position: absolute;
  top: 25px;
  left: 230px;
  color: white;

}

/* DROP FAMILY */

.drop i {
  transform: rotate(90deg);
  position: absolute;
  top: 0px;
  left: -17px;
}

.drop_wali i {
  transform: rotate(90deg);
  position: absolute;
  top: 345px;
  left: -32px;
  font-size: 20px;
  color: white;
}

.drop_guru i {
  transform: rotate(90deg);
  position: absolute;
  top: 290px;
  left: -32px;
  font-size: 20px;
  color: white;
}

.drop_staff i {
  transform: rotate(90deg);
  position: absolute;
  top: 290px;
  left: -32px;
  font-size: 20px;
  color: white;
}

/* DROP FAMILY */

span {
  position: absolute;
  top: 10px;
  left: 168px;
  transform: rotate(270deg);

}



.sidebar_create {
  position: fixed;
  width: 200px;
  height: 100%;
  background-color: #3B5964;
  top: 80px;
  left: -200px;
  transition: 1s ease all;

}

.sidebar_create ul li i {
  margin-right: 10px;
}

.sidebar_create ul {
  list-style: none;
}

.sidebar_create ul li a {
  color: white;
  margin-left: 10px;
  text-decoration: none;
  padding: 6px 8px;

}

 .main-nav .sidebar_create ul li .side_drop {
  display: none;
}

 .main-nav .sidebar_create ul li.tap ul {
  display: block;
}

.after {
  position: unset;
}

.after::after{
  content: '\203A';
  margin-left: 15px;
  transform: rotate(90deg);
}
.sidebar_create ul li {

  margin: 20px 0;


}

#btn {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 25px;
  left: 20px;
  cursor: pointer;
  transition: 1s ease all;
}

#check {
  visibility: hidden;
  position: absolute;

}

#check:checked~nav .sidebar_create {
  left: 0;

}

#check:checked~label #btn {
  top: 25px;
  left: 175px;
}



.dropdown .drop {
  position: absolute;
  top: 26px;
  left: 397px;
  color: white;
  font-size: 21px;
  cursor: pointer;
}

.dropdown .drop_wali,
.drop_staff,
.drop_guru {

  cursor: pointer;
}


.drop_konten {
  color: white;
  position: absolute;
  background-color: #6597A9;
  min-width: 160px;
  padding: 10px 14px;
  text-decoration: none;
  display: block;
  visibility: hidden;
  position: absolute;
  top: 60px;
  left: 220px;
  z-index: 1;
  opacity: 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  transition: 0.5s ease all;
}

.drop_konten a {
  color: white;
  padding: 5px 8px;
  text-decoration: none;
  display: block;
  letter-spacing: 5px;
}

.drop_konten a:hover {
  background-color: #123;
  border-radius: 30px;
}

.drop:hover~.drop_konten {
  visibility: visible;
  opacity: 1;
  display: block;
}

.drop_wali:hover~.drop_konten {
  visibility: visible;
  opacity: 1;
  display: block;
}

.drop_staff:hover~.drop_konten {
  visibility: visible;
  opacity: 1;
  display: block;
}

.drop_guru:hover~.drop_konten {
  visibility: visible;
  opacity: 1;
  display: block;
}

.drop_konten:hover {
  opacity: 1;
  visibility: visible;
  display: block;
}

.arrow::after {

  content: '\203A';
  margin-left: 15px;
  transform: rotate(90deg);
}

.sidebar_create ul li .myspan {
  position: absolute;
  top:195px;
  left:20px;
  transform: none;
  padding: 10px;
}

.main-nav a {
  display: block;

}

.main-nav-ul ul {
  display: none;

}

.main-nav-ul li:hover ul {
  display: block;

}

.side_drop li a {
  padding: 6px 12px;
  margin-left: 10px;
  border-radius: 20px;
  max-width: 170px;

}




.side_drop li a:hover {
  background-color: #579AB3;
  max-width: 170px;
}

.sidebar_create ul li a:hover {
  background-color: #579AB3;
  border-radius: 10px;
  max-width: 170px;


}

.profile img {
  border-radius: 30px;
  margin-left: 20px;
  margin-top: 20px;

}

.profile {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0px;
  border-bottom: 1px solid white;
  padding: 10px 0px;
  color: white;

}


.profile .nama {

  font-size: 18px;
  margin-left: 5px;
  margin-top: 20px;


}


.profile .pengelola {
  font-size: 16px;
  margin-left: 76px;
  margin-top: -20px;
  padding-bottom: 20px;
}

.form-box {
  width: 60%;
  height: 85%;
  background-color: white;
  border-radius: 30px;
  padding: 10px 8px;
  position: absolute;
  top: 90px;
  left: 300px;
}

.form-create input[type="text"],
input[type="email"],
input[type="number"] {

  border: 1px solid darkslategray;
  border-radius: 5px;
  box-sizing: border-box;
  width: 90%;
  padding: 10px 12px;
  font-size: 11pt;
  margin-bottom: 20px;
  margin-top: 10px;

}

.form-create input[type="password"] {
  border: 1px solid darkslategray;
  border-radius: 5px;
  box-sizing: border-box;
  width: 90%;
  padding: 10px 12px;
  font-size: 11pt;
  margin-bottom: 20px;
  margin-top: 10px;
}

.form-create input[type="submit"] {
  background-color: #6597A9;
  padding: 10px 15px 10px 12px;
  border: none;
  color: white;
}

.form-box * {
  margin: 10px;
}

/* ======================================END CREATE==================================================== */


/* ======================================START TENTANG==================================================== */

.form-box-tentang {
  width: 50%;
  height: 80%;
  border-radius: 30px;
  position: absolute;
  background-color: white;
  top: 110px;
  left: 360px;
  padding: 16px 24px;
}

.form-box-tentang input[type="text"] {
  margin-top: 35px;
}

.form-box-tentang i {
  position: absolute;
  top: 107px;
  left: 630px;
  font-size: 18px;
}

.form-box-tentang label {
  font-size: 24px;
}



.drop_tentang_wali i {
  transform: rotate(90deg);
  position: absolute;
  top: 335px;
  left: -32px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}



.drop_tentang_wali:hover~.drop_konten {
  visibility: visible;
  opacity: 1;
  display: block;
}


.drop_tentang_guru i {
  transform: rotate(90deg);
  position: absolute;
  top: 275px;
  left: -33px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}



.drop_tentang_guru:hover~.drop_konten {
  visibility: visible;
  opacity: 1;
  display: block;
}


.form-search {
  display: flex;
  flex-direction: row;
  border: 2px solid #3B5964;
  justify-content: space-between;
  padding: 25px;
}

.form-search img {

  border: 2px solid #707070;
  display: flex;
  align-self: center;
  width: 180px;
  height: 220px;
  margin-right: 50px;

}

.form-search label {
  font-size: 12px;
}

.form-search input[type="text"] {
  margin: 10px 0 15px 0;
  border: none;

  border-bottom: 1px solid #707070;
  border-radius: 0;

}

.form-search input[type="email"] {
  width: 100%;
  margin: 10px 0 15px 0;
  border: none;
  border-bottom: 1px solid #707070;
  border-radius: 0;
}

/* ======================================END TENTANG==================================================== */


/* ======================================START REGISTER===================================================== */

.containerregister {
  margin: auto;
  width: 30%;
  height: 30%;
  border: 3px solid green;
  padding: 20px;
  margin-top: 90px;
  background-color: white;
}

.containerregister .reg {
  font-size: 20px;
  margin: 20px;
}

.containerregister a {
  text-decoration: none;
  color: rgb(8, 144, 255);
  font-size: 15px;
  margin-left: 5px;
}

.containerregister .already {
  font-size: 15px;
}

.form-login input[type="text"],
input[type="password"] {
  border: 1px solid darkslategray;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  font-size: 11pt;
  margin-bottom: 20px;
}

input[type="text"]:hover,
input[type="password"]:hover {
  border: 1px solid gray;
}

.containerregister button {
  width: 50%;
  height: 40px;
}

.tombol_register {
  background: #46de4b;
  padding: 10px 40px 10px 40px;
  border: 1px solid gray;
  margin: 20px;
  color: white;
}

/* ======================================END REGISTER======================================================= */

/* ======================================START CHANGE PASSWORD============================================== */

.containerchange {
  margin: auto;
  width: 30%;
  height: 30%;
  border: 3px solid green;
  padding: 20px;
  margin-top: 60px;
  background-color: white;
}

.containerchange .reg {
  font-size: 20px;
  margin: 20px;
}

.containerchange a {
  text-decoration: none;
  color: rgb(8, 144, 255);
  font-size: 15px;
  margin-left: 5px;
}

.containerchange .already {
  font-size: 15px;
}

input[type="text"],
input[type="password"] {
  border: 1px solid darkslategray;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  font-size: 11pt;
  margin-bottom: 20px;
}

input[type="text"]:hover,
input[type="password"]:hover {
  border: 1px solid gray;
}

.containerchange button {
  width: 50%;
  height: 40px;
}

.tombol_register {
  background: #46de4b;
  padding: 10px 40px 10px 40px;
  border: 1px solid gray;
  margin: 20px;
  color: white;
}

i .fas fa-caret-left {
  text-decoration: none;
}

/* ======================================END CHANGE PASSWORD================================================ */

/* ======================================START HOMEPAGE======================================================= */

.navbar {
  width: 100%;
  height: 80px;
  background-color: red;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  display: inline-flex;
  margin: 30px;
}

.logo h2 {
  margin-left: 20px;
  margin-top: 10px;
}

.navbar ul a {
  margin-right: 50px;

  color: white;
  text-decoration: none;
}

.sidebar {
  position: fixed;
  width: 240px;
  height: 100%;
  background-color: #123;
}

.sidebar header {
  color: white;
  font-size: 28px;
  height: 150px;
  text-align: center;
  background: #1b1b1b;
  user-select: none;
  font-family: Roboto;
  line-height: 150px;
}

.sidebar a {
  display: block;
  text-decoration: none;
  color: whitesmoke;
  height: 65px;
  line-height: 65px;
  padding-left: 30px;
  border-bottom: 1px solid black;

  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.bulat {
  width: 50px;
  height: 50px;
  background-color: white;
}

.menu a:hover {
  border-left: 5px solid #b93632;
  color: #b93632;
}

.dash:active {
  border-left: 10px solid red;
}

.sidebar i {
  margin: 0px 10px 0px 0px;
}

/* ======================================END HOMEPAGE======================================================= */