<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../style.css">
    <style>
        body{
            /* align-items: center; */
            background-color: #3B5964;
        }
    </style>
</head>
<body>
    <div id="card">
    <div class="Login">
        <h1>LOG IN</h1>
    </div>
    <div class="form">
        <form action="post" class="formnya">
            <label for="username">&nbsp;Email</label>
            <input
             type="email"
             id="username"
             class="form-content"
             name="username"
             autocomplete="on"
             required />
             <div class="form-border"></div>
             <label for="user-password">&nbsp;Password</label>
             <input 
             type="password"
             id="user-passwor"
             class="form-content"
             name="password"
             required />
             <input id="submit-btn" type="submit" name="submit" value="Log in"/>
        </form>
    </div>
    </div>
</body>
</html  >